body, button {
  font-family: Courier New, Courier, monospace;
}

form {
  display: flex;
  margin: 0.5em 0;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 0.5em;
}

.mediumpurple {
  width: 100%;
  height: 1000px;
  background: mediumpurple;
  display: flex;
  align-items: center;
  justify-content: center;
}
