#oc-purple-pluto form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: mediumpurple;
  padding: 0.5em;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.5em;
}

#oc-purple-pluto form button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#oc-purple-pluto form fieldset ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
